.card-wrap {
    display: inline-block;
    margin: 5px;
}
.ant-card {
    display: inline-block;
    &-meta-description, &-meta-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 192px;
    }
    .card-cover {
        display: inline-block;
        width: 240px;
        height: 240px;
        background-size: cover;
        transform-style: preserve-3d;
        &::before {
            content: '';
            background-image: url('/greact_challenge/assets/card-placeholder.png');
            display: inline-block;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            transform: translateZ(-1px);
        }
    }
}